<div style="margin-top: 300px">
  <%= form_tag sessions_path, class: "form" do %>
    <div class="form-row">
      <%= text_field_tag :username, nil, autocomplete: "off", placeholder: 'Username' %>
    </div>

    <div class="form-row">
      <%= password_field_tag :password, nil, autocomplete: "off", placeholder: 'Password' %>
    </div>

    <div class="form-row">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>
