html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
}

body, div, p, a, input, select, button {
  color: rgba(0, 0, 0, 0.9);
}

.container {
  margin-top: 120px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.flex-row {
  display: flex;
  gap: 8px;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
}
