.form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input, select, .field {
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(111, 90, 208, 0.1);
  border: none;
  font-size: 16px;
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(111, 90, 208, 0.2) inset;
  }
}

button, input[type=submit] {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 16px;
  background-color: rgb(111, 90, 208);
  border-radius: 4px;
  color: white;
  width: 100%;
  font-weight: bold;

  &.secondary {
    background: rgba(111, 90, 208, 0.1);
    color: rgba(0, 0, 0, 0.8);
  }
}

.input-with-icon {
  position: relative;

  input {
    padding-left: 36px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.2);
  }
}

.form-row {
  margin-bottom: 16px;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.3);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3);
}
